# Compiled Object files
*.slo
*.lo
*.o
*.obj

*~
*.d
/errors_summary
/link_errors
/grub.iso
/iso/kernel.tgz
/kernel.k
/kernel.map
/kernel.sym
/TAGS
/#errors_summary#
/.#errors_summary
/*/error_log
/bochsout.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
