# Compiled Object files
*.slo
*.lo
*.o
*.obj

*~
*.d
errors_summary
grub.iso
iso/kernel.tgz
kernel.k
kernel.map

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TAGS
/#errors_summary#
/.#errors_summary
